trend_aup_excel.csv
*.parquet
*.tif
*.kml
*.geojson
steekproef_piloot_controle_gmaps.csv
MAS netwerk Vlaanderen- Westelijke_leemstreek_telpunten.csv
MAS netwerk Vlaanderen- Zandleemstreek_telpunten.csv
!.gitignore
